<div id="overlay">
  <div id="text">
  	<div class="cirleImgDel">
  		<img class="imgDelete" src="../assets/iconos/icon_eliminar.png">
  	</div>
		<p class="textGrayBold">¿Eliminar Usuario Definitivamente?</p>
  	<p class="textGrayReg">El usuario se eliminará permanentemente.</p>
  	<div class="containerButtons">
  		<a (click)="off()" class="btnDelete">Eliminar</a>
  		<a (click)="off()" class="btnCancel">Cancelar</a>
  	</div>
  </div>
</div>
<div class="container">
	<div class="row">
	<div class="col-md-2"></div>
		<div class="col-xs-12 col-md-8 col-lg-8">
			<div class="centerTitleCoord">
				<p class="coordEdit">REGISTRAR NUEVA UBICACIÓN</p>
				<p class="coordDesEdit">Ingresa las coordenadas</p>
			</div>
			<div class="contentDataCoord">
				<div class="boxContentCoord">
					<form class="posInputCoord">
						<div class="row form-group">
							<input type="contentText" class="form-control inputCoord" id="coordenate" placeholder="00.000000, 00.000000">
						</div>
					</form>
				</div>
			</div>
			<a [routerLink]="['/editLocationView', {outlets: {editUserOutlet: ['createdLocation']}}]" class="btnRegisterLocat">Crear Ubicación</a>
			<a (click)="on()"></a>
		</div>
	<div class="col-md-2"></div>
	</div>
</div>
