<div class="container">
    <div class="row">
        <div class="col-xs-2 col-md-2"></div>
        <div class="col-xs-8 col-md-8">
            <div class="headerCl">
                <div class="btnBackUser" *ngIf="BackAddLoc" (click)="changeStepsAddLoc(true, false, false, false)" (click)="changeIndicatiors(true, false, false, false)" >
                    <img src="./assets/iconos/icon_volver.png" class="imgBackUser">
                    <p class="txtBackUser"> Volver</p>
                </div>
                <div class="btnBackUser" *ngIf="BackAddLoc2" (click)="changeStepsAddLoc(false, true, false, false)" (click)="changeIndicatiors(false, true, false, false)">
                    <img src="./assets/iconos/icon_volver.png" class="imgBackUser">
                    <p class="txtBackUser"> Volver</p>
                </div>
                <a (click)="closeEditLoc(5)" >
                    <img src="./assets/iconos/icon_cerrar.png" class="iconHeaderUser">
                </a>
            </div>
            <div class="dotsSlider">
                <div class="contIndicators" *ngIf="dotsIndicators">

                    <div class="DotLeft" [ngClass]="{'circulo1': isActive, 'circulo2': isDisabled}"></div>
                    <div class="DotRigth" [ngClass]="{  'circulo1': isActive1, 'circulo2': isDisabled1}"></div>
                   <div class="DotCenter" [ngClass]="{'circulo1': isActive2, 'circulo2': isDisabled2}"></div>
                </div>
            </div>
        </div>
        <div class="col-xs-2 col-md-2"></div>
    </div>
</div>
<div *ngIf="regNewLoc" class="container">
  <div class="row">
  <div class="col-md-2"></div>
    <div class="col-xs-12 col-md-8 col-lg-8">
      <div class="centerTitlesUbication">
        <p class="ubicactionEdit">REGISTRAR NUEVA UBICACIÓN</p>
        <p class="ubicactionDesEdit">Completa la información de ubicación</p>
      </div>
      <div class="contentDataUbication">
        <div class="boxContentUbication">
          <form class="posInputsUbication">
            <div class="row centerBox form-group">
              <input type="contentText" class="form-control inputName" id="name" placeholder="Nombre de ubicación">
            </div>
            <div class="row centerBox form-group">
                <input type="contentText" class="form-control inputDesc" id="desc" placeholder="Descripción">
              </div>
          </form>
        </div>
      </div>
      <a (click)="changeStepsAddLoc(false, true, false, false)" (click)="changeIndicatiors(false, true, false, false)" class="btnRegisterLocat">Siguiente</a>
    </div>
  <div class="col-md-2"></div>
  </div>
</div>

<div *ngIf="regNewLocTable"  class="container">
  <div class="row">
    <div class="col-md-2"></div>
      <div class="col-xs-12 col-md-8 col-lg-8">
        <div class="cenTitlesLoc">
          <p class="editLoc">EDITAR UBICACIÓN</p>
          <p class="desEditLoc">Cambio de ubicación</p>
        </div>
        <div class="contentSubtitItle">
          <div class="boxContSub">
            <p>
            <span *ngFor="let indexLocation of indexLocationView; let i=index;" [ngClass]="(indexLocationView?.length - 1) == i ? 'editNavActive' : 'editNav'">{{indexLocation}}<img class="iconArrowNav marginText" src="./assets/iconos/arrow-icon.png" *ngIf="(indexLocationView?.length - 1) > i"></span>
            </p>
          </div>
        </div>
        <div class="contentEditLoc">
          <div class="boxContentDataLoc"> 
            <div class="contentTable">
              <div [ngClass]="appearAllContent ? 'contentRowShow' : 'contentRow'">
                <div *ngFor="let location of locationJson.ParentLocation; let i=index" [ngClass]="LocationActiveId == i ? 'activeCellRow' : 'desactiveCellRow'" (click) = "selectParentLocation(i,location.id)">
                  <h1 [ngClass]="LocationActiveId == i ? 'textActive' : 'textDesactive'">{{location.Name}}</h1>
                  <img *ngIf="LocationActiveId != i" class="desactiveIconArrow" src="./assets/iconos/arrow-icon.png">
                  <img *ngIf="LocationActiveId == i" class="activeIconArrow" src="./assets/iconos/arrow-icon-left.png">
                </div>
              </div>
              <div class="contAddLocat" *ngIf="appearAllContent" >
                <input #inputVal type="text" placeholder="Nueva Ubicación" class ="myInput" (keyup)="onKeyUpShow(inputVal.value)">
                <div class="contBtnDone">
                  <div class="contImageDone" (click)="addingNewLoc('ParentLocation',inputVal.value)"
                   *ngIf="appearCheckIcon">
                    <img class="imgCheckDone" src="./assets/iconos/icon_check.png">
                  </div>
                </div>
              </div>
              <div class="locationNew" *ngIf="appearTxtNewLoc">
                <p class="locationsText"(click)="appearInputAddNewLoc()"><img class="imgAgree" src="./assets/iconos/icon_agregar.png" >&nbsp;&nbsp;Nueva Ubicación</p>
              </div>
            </div>
            <div class="contentTable" *ngIf="viewLocationLevelTwo">
              <div [ngClass]="appearAllContent2 ? 'contentRowShow' : 'contentRow'">  
                <div *ngFor="let locationLevelTwo of locationJson.LocationLevelTwo; let i=index">
                  <div *ngIf="locationLevelTwo.id == dataLocation" [ngClass]="LocationLevelTwoActiveId == i ? 'activeCellRow' : 'desactiveCellRow'" (click) = "selectLocationLevelTwo(i,locationLevelTwo.id,locationLevelTwo.idLevelTwo)">
                    <h1 [ngClass]="LocationLevelTwoActiveId == i ? 'textActive' : 'textDesactive'" *ngIf="locationLevelTwo.id == dataLocation">{{locationLevelTwo.Name}}</h1>
                    <img *ngIf="LocationLevelTwoActiveId != i" class="desactiveIconArrow" src="./assets/iconos/arrow-icon.png">
                    <img *ngIf="LocationLevelTwoActiveId == i" class="activeIconArrow" src="./assets/iconos/arrow-icon-left.png">
                  </div>
                </div>
              </div>

              <div class="contAddLocat" *ngIf="appearAllContent2">
                <input #inputValTwo type="text" placeholder="Nueva Ubicación" class ="myInput" (keyup)="onKeyUpShow2(inputValTwo.value)">
                <div class="contBtnDone">
                  <div class="contImageDone" (click)="addingNewLoc('LocationLevelTwo',inputValTwo.value)" *ngIf="appearCheckIcon2">
                    <img class="imgCheckDone" src="./assets/iconos/icon_check.png">
                  </div>
                </div>
              </div>
              <div class="locationNew" *ngIf="appearTxtNewLoc2">
                <p class="locationsText" (click)="appearInputAddNewLoc2()"><img class="imgAgree" src="./assets/iconos/icon_agregar.png" >&nbsp;&nbsp;Nueva Ubicación</p>
              </div>
            </div>
            <div class="contentTable" *ngIf="viewLocationLevelThree">
              <div [ngClass]="appearAllContent3 ? 'contentRowShow' : 'contentRow'">    
                <div *ngFor="let locationLevelThree of locationJson.LocationLevelThree; let i=index;">
                  <div *ngIf="locationLevelThree.idLevelTwo == dataLocationLevelTwo" [ngClass]="LocationLevelThreeActiveId == i ? 'activeCellRow' : 'desactiveCellRow'" (click) = "selectLocationLevelThree(i,locationLevelThree.idLevelThree)">
                    <h1 [ngClass]="LocationLevelThreeActiveId == i ? 'textActive' : 'textDesactive'">{{locationLevelThree.Name}}</h1>
                    <img *ngIf="LocationLevelThreeActiveId != i" class="desactiveIconArrow" src="./assets/iconos/arrow-icon.png">
                    <img *ngIf="LocationLevelThreeActiveId == i" class="activeIconArrow" src="./assets/iconos/arrow-icon-left.png">
                  </div>
                </div>
              </div>
              <div class="contAddLocat" *ngIf="appearAllContent3">
                <input #inputValThree type="text" placeholder="Nueva Ubicación" class ="myInput" (keyup)="onKeyUpShow3(inputValThree.value)">
                <div class="contBtnDone">
                  <div class="contImageDone" (click)="addingNewLoc('LocationLevelThree',inputValThree.value)" *ngIf="appearCheckIcon3">
                    <img class="imgCheckDone" src="./assets/iconos/icon_check.png">
                  </div>
                </div>
              </div>
              <div class="locationNew" *ngIf="appearTxtNewLoc3">
                <p class="locationsText" (click)="appearInputAddNewLoc3()"><img class="imgAgree" src="./assets/iconos/icon_agregar.png">&nbsp;&nbsp;Nueva Ubicación</p>
              </div>
            </div>
            <div class="contentTable" *ngIf="viewLocationLevelFour">
              <div [ngClass]="appearAllContent4 ? 'contentRowShow' : 'contentRow'">    
                <div *ngFor="let locationLevelFour of locationJson.LocationLevelFour; let i=index;">
                  <div *ngIf="locationLevelFour.idLevelThree == dataLocationLevelThree" [ngClass]="LocationLevelFourActiveId == i ? 'activeCellRow' : 'desactiveCellRow'" (click) = "selectLocationLevelFour(i,locationLevelFour.idLevelFour)">
                    <h1 [ngClass]="LocationLevelFourActiveId == i ? 'textActive' : 'textDesactive'">{{locationLevelFour.Name}}</h1>
                  </div>
                </div>
              </div>
              <div class="contAddLocat" *ngIf="appearAllContent4">
                <input #inputValFour type="text" placeholder="Nueva Ubicación" class ="myInput" (keyup)="onKeyUpShow4(inputValFour.value)">
                <div class="contBtnDone">
                  <div class="contImageDone" (click)="addingNewLoc('LocationLevelFour',inputValFour.value)"  *ngIf="appearCheckIcon4">
                    <img class="imgCheckDone" src="./assets/iconos/icon_check.png">
                  </div>
                </div>
              </div>
              <div class="locationNew" *ngIf="appearTxtNewLoc4">
                <p class="locationsText" (click)="appearInputAddNewLoc4()"><img class="imgAgree" src="./assets/iconos/icon_agregar.png">&nbsp;&nbsp;Nueva Ubicación</p>
              </div>
            </div>
          </div>  
        </div>
        <a (click)="changeStepsAddLoc(false, false, true, false)" (click)="changeIndicatiors(false, false, true, false)" class="btnNext">Siguiente</a>
      </div>
    <div class="col-md-2"></div>
  </div>
</div>

<div *ngIf="regNewLocCoord"  class="container">
  <div class="row">
  <div class="col-md-2"></div>
    <div class="col-xs-12 col-md-8 col-lg-8">
      <div class="centerTitleCoord">
        <p class="coordEdit">REGISTRAR NUEVA UBICACIÓN</p>
        <p class="coordDesEdit">Ingresa las coordenadas</p>
      </div>
      <div class="contentDataCoord">
        <div class="boxContentCoord">
          <form class="posInputCoord">
            <div class="row form-group">
              <input type="contentText" class="form-control inputCoord" id="coordenate" placeholder="00.000000, 00.000000">
            </div>
          </form>
        </div>
      </div>
      <a (click)="changeStepsAddLoc(false, false, false, true)" (click)="changeIndicatiors(false, false, false, true)" class="btnUbicationNew">Crear Ubicación</a>
    </div>
  <div class="col-md-2"></div>
  </div>
</div>

<div *ngIf="NewLocCreated"  class="container">
  <div class="row">
  <div class="col-md-2"></div>
    <div class="col-xs-12 col-md-8 col-lg-8">
      <div class="cenTitlesLoc">
        <p class="editLoc">UBICACIÓN CREADA</p>
        <p class="desEditLoc">La ubicación fue creada con éxito</p>
      </div>
      <div class="contentEditLoc">
        <div class="boxContentDataLocmap"> 
              <div class="contentMap">
                <iframe class="mapSize"
              frameborder="0" style="border:0" 
              scrolling="auto" marginheight="0" marginwidth="0"
              src="https://www.google.com/maps/embed/v1/place?key=AIzaSyD8jLJ2iXJGYBbfzk24Mzv2I8EXUmEl
              " src="https://maps.google.com/?ie=UTF8&amp;t=m&amp;daddr=14.581543, -90.495525&amp;spn=0.018486,0.027466&amp;z=15&amp;output=embed" allowfullscreen>
            </iframe>
              </div>
              <div class="contentLocaData">
                <h1 class="titleLocation">Oficinas IT</h1>
                <p class="txtData">Zona Pradera</p>
                <p class="txtData">Torre 4</p>
                <p class="txtData">Oficina 310</p>
              </div>
        </div>
      </div>
      <a (click)="closeEditLoc(5)" class="btnAccept">Aceptar</a>
    </div>
  <div class="col-md-2"></div>
  </div>
</div>

