<div class="container">
    <div class="row">
        <div class="col-xs-2 col-md-2"></div>
        <div class="col-xs-8 col-md-8">
            <div class="headerCl">
                <div class="btnBackUser" *ngIf="BackUser" [routerLink]="['/addUsers', {outlets: {editUserOutlet: ['photoUser']}}]">
                    <img src="./assets/iconos/icon_volver.png" class="imgBackUser">
                    <p class="txtBackUser"> Volver</p>
                </div>
                <a (click)="closeSecond(5)" >
                    <img src="./assets/iconos/icon_cerrar.png" class="iconHeaderUser">
                </a>
            </div>
            <div class="dotsSlider">
                <div class="contIndicators" *ngIf="dotsIndicators">
                    <div class="DotLeft" [ngClass]="{'circulo1': isActive, 'circulo2': isDisabled}"></div>
                    <div class="DotRigth" [ngClass]="{'circulo1': isActive1, 'circulo2': isDisabled1}"></div>
                </div>
            </div>
        </div>
        <div class="col-xs-2 col-md-2"></div>
    </div>
</div>
<div id="overlay">
  <div id="text">
    <div class="cirleImgDel">
      <img class="imgDelete" src="../assets/iconos/icon_eliminar.png">
    </div>
    <p class="textGrayBold">¿Eliminar Usuario Definitivamente?</p>
    <p class="textGrayReg">El usuario se eliminará permanentemente.</p>
    <div class="containerButtons">
      <a (click)="off()" class="btnDelete">Eliminar</a>
      <a (click)="off()" class="btnCancel">Cancelar</a>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
  <div class="col-md-2"></div>
    <div class="col-xs-12 col-md-8 col-lg-8">
      <div class="centerTitlesUbication">
        <p class="ubicactionEdit">REGISTRAR NUEVA UBICACIÓN</p>
        <p class="ubicactionDesEdit">Completa la información de ubicación</p>
      </div>
      <div class="contentDataUbication">
        <div class="boxContentUbication">
          <form class="posInputsUbication">
            <div class="row form-group">
              <input type="contentText" class="form-control inputName" id="name" placeholder="Nombre de ubicación">
            </div>
            <div class="row form-group">
                <input type="contentText" class="form-control inputDesc" id="desc" placeholder="Descripción">
              </div>
          </form>
        </div>
      </div>
      <a [routerLink]="['/editLocationView', {outlets: {editUserOutlet: ['locationNewRegister']}}]" class="btnRegisterLocat">Siguiente</a>
      <a (click)="on()"></a>
    </div>
  <div class="col-md-2"></div>
  </div>
</div>
