<div class="container-fluid contAllNewView">
  <div class="row">
    <div class="col-sm-2 col-md-4 col-lg-4"></div>
    <div class="col-sm-8 col-md-4 col-lg-4 contentMainViews">
      <div class="row">
        <div class="containerTitle">
          <p class="nameTable">Usuarios Registrados</p>
        </div>
         <div class="search">
            <input type="text" placeholder="" class ="myInput">
         </div>
      </div>
      <div class="row">
        <div class="containerTable">
          <table class="tableStyle">
            <tr class="cellFormat">
              <td>Alex Doe</td>
              <td>C-level</td> 
              <td><a [routerLink]="['/editUserView', {outlets: {editUserOutlet: ['editUser']}}]">Editar</a></td>
            </tr>
            <tr class="cellFormat">
              <td>Betty Doe</td>
              <td>C-level</td> 
              <td>Edit</td>
            </tr>
            <tr class="cellFormat">
              <td>Carl Doe</td>
              <td>C-level</td> 
              <td>Edit</td>
            </tr>
            <tr class="cellFormat">
              <td>Diego Doe</td>
              <td>IT</td> 
              <td>Edit</td>
            </tr>
            <tr class="cellFormat">
              <td>John Doe</td>
              <td>IT</td> 
              <td>Edit</td>
            </tr>
            <tr class="cellFormat">
              <td>Karla Doe</td>
              <td>IT</td> 
              <td>Edit</td>
            </tr>
            <tr class="cellFormat">
              <td>Nelson Doe</td>
              <td>Marketing</td> 
              <td>Edit</td>
            </tr>
            <tr class="cellFormat">
              <td>Oscar Doe</td>
              <td>Marketing</td> 
              <td>Edit</td>
            </tr>
            <tr class="cellFormat">
              <td>Pedro Doe</td>
              <td>mantenimiento</td> 
              <td>Edit</td>
            </tr>
            <tr class="cellFormat">
              <td>Karla Doe</td>
              <td>IT</td> 
              <td>Edit</td>
            </tr>
            <tr class="cellFormat">
              <td>Diego Doe</td>
              <td>IT</td> 
              <td>Edit</td>
            </tr>
            <tr class="cellFormat">
              <td>Diego Doe</td>
              <td>IT</td> 
              <td>Edit</td>
            </tr>
            <tr class="cellFormat">
              <td>Diego Doe</td>
              <td>IT</td> 
              <td>Edit</td>
            </tr>
            <tr class="cellFormat">
              <td>Diego Doe</td>
              <td>IT</td> 
              <td>Edit</td>
            </tr>
            <tr class="cellFormat">
              <td>Diego Doe</td>
              <td>IT</td> 
              <td>Edit</td>
            </tr>
            <tr class="cellFormat">
              <td>Karla Doe</td>
              <td>IT</td> 
              <td>Edit</td>
            </tr>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="containerBtnAdd">
          <div class="IconPlus" [routerLink]="['/addUsers', {outlets: {editUserOutlet: ['photoUser']}}]">
            <img class="img-responsive imgPlus" alt="icon plus" src="./assets/iconos/floating_agregar.png">
          </div>
            <a class="txtAddUser" [routerLink]="['/addUsers', {outlets: {editUserOutlet: ['photoUser']}}]">Agregar Usuario</a>

            <a class="txtAddUser" data-toggle = "modal" data-target="#holissssss">Agregar Usuario</a>
        </div>
      </div>

    </div>
    <div class="col-sm-2 col-md-4 col-lg-4"></div>
  </div>
</div>

<div class="modal" id="holissssss">
  <p>
    hola que hace
  </p>
</div>