<div class="container-fluid contAllNewView">
  <div class="row">
    <div class="col-sm-4 col-md-4"></div>
    <div class="col-sm-4 col-md-4 contentMainViews">
      <div class="row">
        <div class="containerTitle">
          <h4>Usuarios Registrados</h4>
        </div>
         <div class="search">
            <input type="text" placeholder="Search.." class ="myInput">
         </div>
      </div>
      <div class="row">
        <div class="containerTable">
          <table style="width:100%">
            <tr>
              <td>Firstname</td>
              <td>Lastname</td> 
              <td>Age</td>
            </tr>
            <tr>
              <td>Jill</td>
              <td>Smith</td> 
              <td>50</td>
            </tr>
            <tr>
              <td>Eve</td>
              <td>Jackson</td> 
              <td>94</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="col-sm-4 col-md-4"></div>
  </div>

</div>
