.contentMainViews{
  margin-top: 120px;
}

.contAllNewView{
  background: #f6f6f6;
}

.search{
  display: inline-block;
  float: right;
  position: relative;
}

.containerTitle{
  display: inline-block;
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nameTable{
  font-family: "robotoBold";
  color: #5B5B5B;
  font-size: 15px;
}

.myInput {
  border-radius: 5px;
  background-image: url('../../assets/iconos/icon_buscar.png');
  background-position:right center;
  background-repeat: no-repeat;
  font-size: 12px;
  padding: 5px 5px 5px 5px;
  border-color: white;
  border-width: 0px;
  opacity: 0.7;
}

input {
  font-family: "robotoRegular";
}

.tableStyle{
  width: 100%;
}

.cellFormat > td:nth-child(1){
  padding-left: 3%;
  font-size: 12px;
  font-family: "robotoRegular";
  color: #5B5B5B;
}

.cellFormat > td:nth-child(2){
  padding-left: 3%;
  font-size: 12px;
  font-family: "robotoRegular";
  color: #a2a2a2;
}

.cellFormat > td:nth-child(3){
  padding-left: 3%;
  font-size: 11px;
  font-family: "robotoRegular";
  color: #8ed2ec;
  cursor: pointer;
}

table, td {
    border-bottom: 7px solid #f6f6f6;
    background-color: #ffffff;
    height: 40px;
}
