.centerTitlesUbication {
  text-align: center;
  margin-top: 4%;
}
.ubicactionEdit {
  font-family: robotoBold;
  color: #575757;
  font-size: 12px;
}
.ubicactionDesEdit {
  font-family: robotoRegular;
  margin-top: -5px;
  color: #AFAFAF;
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contentDataUbication {
  display: flex;
  align-items: center;
  justify-content: center;
}
.boxContentUbication {
  height: 140px;
  width: 55%;
  margin-top: 4%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.posInputsUbication {
  width: 100%;
}
.inputName, .inputDesc, .inputCoordinate {
  display: flex;
  align-items: center;
  margin-bottom: 2%;
  font-family: robotoRegular;
  font-size: 12px;
  color: #6A6A6A;
  border-color: #F0F0F0;
  width: 80%;
}
.form-group {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0 15px;
  margin-left: 10%;
}
.btnRegisterLocat {
  margin-left: 38%;
  margin-top: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  width: 22%;
  height: 32px;
  background-color: #00C6AF;
  text-align: center;
  text-decoration: none;
  font-family: robotoBold;
  font-size: 12px;
  color: #FFF;
}
#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ffffff;
  z-index: 2;
}
#text{
  display: block;
  height: 20px;
  width: 20px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin-left: auto;
  margin-right: auto;
}
#text{
  height: 300px;
  width: 400px;
  background-color: #ffffff;
}
.imgDelete{
  display: block;
  height: 20px;
  width: 20px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin-left: auto;
  margin-right: auto;
}
.cirleImgDel{
  align-items: center;
  height: 50px;
  width: 50px;
  border-radius: 100%;
  border: solid 2px;
  border-color: #f64f2b;
  margin-left: auto;
  margin-right: auto;
}
.textGrayBold {
  font-family: robotoBold;
  color: #575757;
  font-size: 12px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  margin-top: 5%;
}
.textGrayReg {
  font-family: robotoRegular;
  margin-top: -5px;
  color: #AFAFAF;
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.containerButtons{
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
}
.btnDelete {
  display: block;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  width: 45%;
  height: 30px;
  background-color: #f64f2b;
  text-align: center;
  text-decoration: none;
  font-family: robotoBold;
  font-size: 12px;
  color: #FFF;
  float: left;
  padding-top: 2%;
  cursor: pointer;
}
.btnCancel {
  display: block;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  width: 45%;
  height: 30px;
  background-color:#ededed;
  text-align: center;
  text-decoration: none;
  font-family: robotoBold;
  font-size: 12px;
  color: #575757;
  float: right;
  padding-top: 2%;
cursor: pointer;
}