.centerTitles {
	text-align: center;
	margin-top: 4%;
}
.userNewRegistered {
	font-family: robotoBold;
	color: #575757;
	font-size: 12px;
}
.desNewRegistered {
	font-family: robotoRegular;
	margin-top: -5px;
	color: #AFAFAF;
	font-size: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.contentNewRegister {
	display: flex;
	align-items: center;
	justify-content: center;
}
.boxContentData {
	height: 270px;
    width: 90%;
    margin-top: 2%;
	-webkit-border-radius: 1%; 
    -moz-border-radius: 1%; 
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .3); 
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .3);
}
.contentRows {
    width: 20%;
    height: 100%;
   	border-right: 1px solid #DCDCDC;
}
.lineRow {
	height: 1px;
	width: 98%;
	margin-top: auto;
    margin-right: -2%;
	background-color: #DCDCDC;
}
.iconArrow {
	height: 8%;
	width: 10%;
	float: right;
    padding-top: 3%;
}
.placedsName {
	font-family: robotoBold;
	color: #6F6F6F;
	font-size: 10px;
	border-top: transparent;
}
.btnLogin {
  	margin-left: auto;
  	margin-right: auto;
    margin-top: 5%;
    display: flex;
	align-items: center;
	justify-content: center;
  	border-radius: 15px;
  	width: 22%;
  	height: 32px;
  	background-color: #00C6AF;
  	text-align: center;
  	text-decoration: none;
  	font-family: robotoBold;
  	font-size: 12px;
  	color: #FFF;
}
