<!--VISTA Crear ACCESO-->
<div class="container">
	<div class="row">
	<div class="col-md-2"></div>
		<div class="col-xs-12 col-md-8 col-lg-8">
			<div class="centerTitlesEdit">
				<p class="editAccess">REGISTRAR NUEVO ACCESO</p>
				<p class="desEditAccess">Selecciona el tipo de acceso.</p>
			</div>
			<div class="contentEditAccess">
				<div class="boxContentAcces">	
					<div class="contentDataAccess">
						<a><img class="imgSize" src="./assets/iconos/icon_access01_off.png"></a>
						<p class="textDesactive">Puerta</p>
					</div>
					<div class="contentDataAccess">
						<a><img class="imgMolinete" src="./assets/iconos/icon_access02_on.png"></a>
						<p class="textActive">Molinete</p>
					</div>
					<div class="contentDataAccess">
						<a><img class="imgTalanquera" src="./assets/iconos/icon_access03_off.png"></a>
						<p class="textDesactive">Talanquera</p>
					</div>
					<div class="contentDataAccess">
						<a><img class="imgMore" src="./assets/iconos/icon_access04_off.png"></a>
						<p class="textDesactive">Otros</p>
					</div>
				</div>
			</div>
			<a [routerLink]="['/editAccessView', {outlets: {editUserOutlet: ['createdAccess']}}]" class="btnAccessCreate">Crear Acceso</a>
		</div>
	<div class="col-md-2"></div>
	</div>
</div>