<div class="container">
    <div class="row">
        <div class="col-xs-2 col-md-2"></div>
        <div class="col-xs-8 col-md-8">
            <div class="headerCl">
                <div class="btnBackUser" *ngIf="BackUser" (click)="changeIndicatiors(takePictureUser, registerUserAdd, createdUser, shortcutAddUser)" (click)="changeStepsAddUser(true, false, false, false, shortcutAddUser)" >
                    <img src="./assets/iconos/icon_volver.png" class="imgBackUser">
                    <p class="txtBackUser"> Volver</p>
                </div>
                <a (click)="onKeyUp(5)">
                    <img src="./assets/iconos/icon_cerrar.png" class="iconHeaderUser">
                </a>
            </div>
            <div class="dotsSlider">
                <div class="contIndicators" *ngIf="dotsIndicators">
                    <div class="DotLeft" [ngClass]="{'circulo1': isActive, 'circulo2': isDisabled}"></div>
                    <div class="DotRigth" [ngClass]="{'circulo1': isActive1, 'circulo2': isDisabled1}"></div>
                </div>
            </div>
        </div>
        <div class="col-xs-2 col-md-2"></div>
    </div>
</div>
<!-- Vista Registrar usuario nuevo -->
<div *ngIf="takePictureUser" class="container">
    <div class="row">
    <div class="col-md-2"></div>
        <div class="col-xs-12 col-md-8 col-lg-8">
            <div class="centerTitle">
                <p class="centerTitleUsers">REGISTRAR NUEVO USUARIO</p>
            </div>
            <div class="imgContent">
              <video muted #video class="sizeVideoTag" ></video>
              <img *ngIf="shadowVideo" class="imgOpacity" src="./assets/iconos/opacity_circle.png">
              <img *ngIf="imgSnap" id="snap">
              <canvas *ngIf="canvasVideoTag" ></canvas>
              <img *ngIf="unusedPhoto" class="imgPerfil" src="./assets/iconos/no_camera.jpg">
              <img  *ngIf="takedPhoto" class="imgPerfil" [src]="url">
              <img *ngIf="activeNextBtn" class="imgOpacity" src="./assets/iconos/opacity_circle.png">
              <div *ngIf="controlsCont" class="controls">
                <div class="contIconCamera">  
                  <img class="iconCameraTake" id="take-photo" (click)="takePhotos()" src="../assets/iconos/camera.png" >
                </div>
                <div class="contIconCamera">  
                  <img class="iconCameraTake" id="delete-photo" (click)="deletePhoto()" src="../assets/iconos/recyclebin.png">
                </div>
              </div>
            </div>
            <div>
              <a *ngIf="inactiveNextBtn" (click)="ableCamera()" class="btnGeneralUser"><img class="iconCamera" src="../assets/iconos/icon_camara.png">Tomar Fotografía</a>
              <div class="fileUpload" *ngIf="inactiveNextBtn">
                <img class="iconCamera" src="../assets/iconos/icon_upload.png">
                <span>Subir Fotografía</span>
                <input  class="upload" accept="images/*" type='file' (change)="readUrl($event)">
              </div>
              <a *ngIf="activeNextBtn" (click)="changeStepsAddUser(false, true, false, false)" (click)="changeIndicatiors(false, true, false, shortcutAddUser)"  class="btnGeneralUser">Siguiente</a>
              <div *ngIf="activeNextBtn" class="tryAgainCont">
              <a (click)="tryAgainPhoto()" class="txtAddUser">Intentar de nuevo</a>
              </div>
            </div>
        </div>
    <div class="col-md-2"></div>
    </div>
</div>
<!-- Vista ingreso de informacion para el registro del usuario nuevo -->
<div *ngIf="registerUserAdd" class="container" >
    <div class="row">
    <div class="col-md-2"></div>
        <div class="col-xs-12 col-md-8 col-lg-8">
            <div class="contentCenterUsers">
                <p class="centerTitleUsers">REGISTRAR NUEVO USUARIO</p>
                <p class="subtitlesUserViews">Completa la información del nuevo usuario.</p>
            </div>
            <div class="contentRegister">
                <form class="inputForm" name="country">
                    <div class="form-group">
                        <input type="name" class="form-control nameInput" id="nameUser" placeholder="Nombre">           
                    </div>
                    <div class="form-group">
                        <input type="DPI" class="form-control dpiInput" id="dpiUser" placeholder="DPI">
                    </div>
                    <div class="dropdown">
                    <select [ngModel]="selectedElement?.id"  [ngModelOptions]="{standalone: true}" class=" form-control nameInput">
                        <option *ngFor="let type of types" [ngValue]="type?.id" class="alignDrop">{{type?.Name}}</option>
                    </select>
                    </div>
                </form>
                <img class="imgNewUser" src="./assets/iconos/foto_previw.jpg">
                <a class="textEditPhoto" (click)="changeIndicatiors(takePictureUser, registerUserAdd, createdUser, shortcutAddUser)" (click)="changeStepsAddUser(true, false, false, false, shortcutAddUser)">Editar</a>
            </div>
            <div class="contentInfoRegister">
                <a (click)="changeStepsAddUser(false, false, false, true)" class="titleAccess nounderLine"><img class="iconAdd" src="./assets/iconos/icon_agregar.png">&nbsp;&nbsp;&nbsp;Agregar acceso directo?</a>
                
                <p class="desAccessUser">El acceso directo asigna permisos de acceso independientes del<br/>rol, a un usuario especifico.</p>
            </div>
            <a (click)="changeStepsAddUser(false, false, true, false)" (click)="changeIndicatiors(false, false, true, shortcutAddUser)" class="btnGeneralUser">Crear Nuevo Usuario</a>
        </div>
    <div class="col-md-2"></div>
    </div>
</div>
<!-- Vista usario creado -->
<div *ngIf="createdUser" class="container">
    <div class="row">
    <div class="col-md-2"></div>
        <div class="col-xs-12 col-md-8 col-lg-8">
            <div class="contentCenterUsers">
                <p class="centerTitleUsers">USUARIO CREADO</p>
                <p class="subtitlesUserViews">El usuario fue creado con éxito.</p>
            </div>
            <div class="contentRegistered">
                <div class="boxContent">
                    <img class="imgCreatedUser" src="./assets/iconos/foto_previw.jpg">  
                    <div class="contentText">
                        <p class="namePerson">Regina Doe</p>
                        <p class="infoPerson">2071-25842-0101</p>
                        <p class="infoPerson">IT</p>
                    </div>
                </div>
            </div>
            <a (click)="onKeyUp(5)" (click)="changeIndicatiors(false, false, true, shortcutAddUser)" class="btnAcceptUsers">Aceptar</a>
        </div>
    <div class="col-md-2"></div>
    </div>
</div>
<!-- Vista agregar acceso directo al usuario-->
<div *ngIf="shortcutAddUser" class="container">
    <div class="row">
    <div class="col-md-2"></div>
        <div class="col-xs-12 col-md-8 col-lg-8">
            <div class="contentCenterUsers">
                <p class="centerTitleUsers">REGISTRAR NUEVO USUARIO</p>
                <p class="subtitlesUserViews">Agregar acceso directo para este usuario</p>
            </div>
            <div class="contentSubtitItle">
              <div class="boxContSub">
                <p>
                <span *ngFor="let indexLocation of indexLocationView; let i=index;" [ngClass]="(indexLocationView?.length - 1) == i ? 'editNavActive' : 'editNav'">{{indexLocation}}<img class="iconArrowNav marginText" src="./assets/iconos/arrow-icon.png" *ngIf="(indexLocationView?.length - 1) > i"></span>
                </p>
              </div>
            </div>
            <div class="contentEditLoc">
              <div class="boxContentDataLoc"> 
                <div class="contentTable">
                  <div [ngClass]="appearAllContent ? 'contentRowShow' : 'contentRow'">
                    <div *ngFor="let location of locationJson.ParentLocation; let i=index" [ngClass]="LocationActiveId == i ? 'activeCellRow' : 'desactiveCellRow'" (click) = "selectParentLocation(i,location.id)">
                      <h1 [ngClass]="LocationActiveId == i ? 'textActive' : 'textDesactive'">{{location.Name}}</h1>
                      <img *ngIf="LocationActiveId != i" class="desactiveIconArrow" src="./assets/iconos/arrow-icon.png">
                      <img *ngIf="LocationActiveId == i" class="activeIconArrow" src="./assets/iconos/arrow-icon-left.png">
                    </div>
                  </div>
                </div>
                <div class="contentTable" *ngIf="viewLocationLevelTwo">
                  <div [ngClass]="appearAllContent2 ? 'contentRowShow' : 'contentRow'">  
                    <div *ngFor="let locationLevelTwo of locationJson.LocationLevelTwo; let i=index ">
                      <div *ngIf="locationLevelTwo.id == dataLocation" [ngClass]="LocationLevelTwoActiveId == i ? 'activeCellRow' : 'desactiveCellRow'" (click) = "selectLocationLevelTwo(i,locationLevelTwo.id,locationLevelTwo.idLevelTwo)">
                        <h1 [ngClass]="LocationLevelTwoActiveId == i ? 'textActive' : 'textDesactive'" *ngIf="locationLevelTwo.id == dataLocation">{{locationLevelTwo.Name}}</h1>
                        <img *ngIf="LocationLevelTwoActiveId != i" class="desactiveIconArrow" src="./assets/iconos/arrow-icon.png">
                        <img *ngIf="LocationLevelTwoActiveId == i" class="activeIconArrow" src="./assets/iconos/arrow-icon-left.png">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="contentTable" *ngIf="viewLocationLevelThree">
                  <div [ngClass]="appearAllContent3 ? 'contentRowShow' : 'contentRow'" >    
                    <div *ngFor="let locationLevelThree of locationJson.LocationLevelThree; let i=index ">
                      <div *ngIf="locationLevelThree.idLevelTwo == dataLocationLevelTwo" [ngClass]="LocationLevelThreeActiveId == i ? 'activeCellRow' : 'desactiveCellRow'" (click) = "selectLocationLevelThree(i,locationLevelThree.idLevelThree)">
                        <h1 [ngClass]="LocationLevelThreeActiveId == i ? 'textActive' : 'textDesactive'">{{locationLevelThree.Name}}</h1>
                        <img *ngIf="LocationLevelThreeActiveId != i" class="desactiveIconArrow" src="./assets/iconos/arrow-icon.png">
                        <img *ngIf="LocationLevelThreeActiveId == i" class="activeIconArrow" src="./assets/iconos/arrow-icon-left.png">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="contentTable" *ngIf="viewLocationLevelFour">
                  <div [ngClass]="appearAllContent4 ? 'contentRowShow' : 'contentRow'">    
                    <div *ngFor="let locationLevelFour of locationJson.LocationLevelFour; let i=index; ">
                      <div class="desactiveCellRow" *ngIf="locationLevelFour.idLevelThree == dataLocationLevelThree">
                        <label class="txtBoxTable">
                            <input class="styleCheck" type="checkbox" value="{{locationLevelFour.idLevelFour}}" />
                            <span class="label-text">{{locationLevelFour.Name}}</span>
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>  
            </div>
            <a (click)="changeStepsAddUser(false, true, false, false)" class="btnGeneralUser">Aceptar</a>
        </div>
    <div class="col-md-2"></div>
    </div>
</div>