  <div class="container">
  <div class="row">
  <div class="col-md-2"></div>
    <div class="col-xs-12 col-md-8 col-lg-8">
      <div class="centerTitlesRoles">
        <p class="rolEdit">EDITAR ROL</p>
        <p class="rolDesEdit">Editar los accesos permitidos para este rol.</p>
      </div>
      <div class="contInside">
        <div class=" containerButtons">
        <a (click)="off()" class="btnCheckAll">
        Check all</a>
        <a (click)="off()" class="btnUnCheckAll">Uncheck all</a>
        </div>
      </div>
      <div class="contentDataRol">
        <div class="boxContentRol">
          <div class="containerTable">
            <table class="tableStyle">
              <tr class="cellFormat">
                <td>
                  <input type="checkbox" name="ZPradera1" id="checkbox1" value="ZPradera1">
                    Zona Pradera
                </td>
                <td>Torre3</td> 
                <td>Oficina 512</td>
                <td>Entrada 1</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <a [routerLink]="['/main', {outlets: {aside: ['roles']}}]" class="btnNextRol">&#10004; Realizar Cambios</a>
    </div>
  <div class="col-md-2"></div>
  </div>
</div>