<div class="container">
	<div class="row">
	<div class="col-md-2"></div>
		<div class="col-xs-12 col-md-8 col-lg-8">
			<div class="cenTitlesLoc">
				<p class="editLoc">EDITAR UBICACIÓN</p>
				<p class="desEditLoc">Cambio de ubicación</p>
			</div>
			<div class="contentSubtitItle">
				<div class="boxContSub">
					<p class="editNav">Zona Pradera<img class="iconArrowNav marginText" src="./assets/iconos/arrow-icon.png"><span class="marginText">Torre 3<img class="iconArrowNav marginText" src="./assets/iconos/arrow-icon.png"></span><span class="marginText colorText">Oficina 510</span></p>
				</div>
			</div>
			<div class="contentEditLoc">
				<div class="boxContentDataLoc">	
					<table class="tableStyle">
			            <tr class="cellFormat">
			              <td class="holis">Betty Doe</td><td class="holis">C-level</td><td class="holis">Edit</td>
			            </tr>
			        </table>
				</div>
			</div>
			<a [routerLink]="['/main', {outlets: {aside: ['users']}}]" class="btnLogin">Aceptar</a>
		</div>
	<div class="col-md-2"></div>
	</div>
</div>2