<div class="container-fluid">
  <div class="containerMain">
    <nav class="navbar navbar-default navbar-fixed-top navBG">
      <div class="row stylePrimaryHeader">
        <div class="col-sm-2 col-md-2 col-lg-2"></div>
        <div class="col-sm-8 col-md-8 col-lg-8 containerBrand">
          <div class="contentNavbar">
            <img class= "img-responsive brandImg" src="./assets/iconos/logo-maccess-02.png">
          </div>
            <div class="dropdown">
              <a class="dropdown-toggle  dropbtn" data-toggle="dropdown">Juan Perez<span><img src="./assets/iconos/dropdown-icon.png" class="imgDropdown"></span>
              </a>

          <div class="dropdown-menu holis dropdown-contentassas">
            <a class="nameData" href="#">Juan Pérez</a>
            <a class="emailData" href="#">jperez@me.comspan&nbsp;&nbsp;&nbsp;<span>Editar</span></a>
            <hr/>
            <a class="closeData" href="#">Cerrar Sesión</a>
          </div>

            </div>
        </div>
        <div class="col-sm-2 col-md-2 col-lg-2"></div>
      </div>
      <div class="row">
        <div class="col-sm-2 col-md-4 col-lg-4"></div>
        <div class="col-sm-8 col-md-4 col-lg-4 containerBtns">
          <!--To go anotrer view in the navBar menu-->
          <!--Active Button Control-->
          <div [routerLink]="['/main', {outlets: {aside: ['control']}}]" class="btnContentMenu" *ngIf="showStyle0">
            <a class="heightBtn"><img class="sizeImageHeader" src="./assets/iconos/icon_control_hover.png"></a>
            <p class="descButonActive">Control</p>
            <img class="imgArrowButtons"  src="./assets/iconos/flecha_abajo.png">
          </div>
          <!--Inactive Button Control-->
          <div [routerLink]="['/main', {outlets: {aside: ['control']}}]" class="btnContentMenu" *ngIf="showStyle1">
            <a class="heightBtn"><img class="sizeImageHeader" src="./assets/iconos/icon_control.png"></a>
            <p class="descButonInactive">Control</p>
            <img class="imgArrowButtons"  src="./assets/iconos/icon_check.png">
          </div>
          <!--Active Button User-->
          <div [routerLink]="['/main', {outlets: {aside: ['users']}}]" class="btnContentMenu" *ngIf="showStyle2">
            <a class="heightBtn"><img class="sizeImageHeader" src="./assets/iconos/icon_usuarios_hover.png"></a>
            <p class="descButonActive">Usuarios</p>
            <img class="imgArrowButtons" src="./assets/iconos/flecha_abajo.png">
          </div>
          <!--Inactive Button User-->
          <div [routerLink]="['/main', {outlets: {aside: ['users']}}]" class="btnContentMenu" *ngIf="showStyle3"(click)="active()">
            <a class="heightBtn"><img class="sizeImageHeader" src="./assets/iconos/icon_usuarios.png"></a>
            <p class="descButonInactive">Usuarios</p>
            <img class="imgArrowButtons"  src="./assets/iconos/icon_check.png">
          </div>
          <!--Active Button Locations-->
          <div [routerLink]="['/main', {outlets: {aside: ['locations']}}]" class="btnContentMenu" *ngIf="showStyle4">
            <a class="heightBtn"><img class="sizeImageHeader" src="./assets/iconos/icon_ubicaciones_hover.png"></a>
            <p class="descButonActive">Ubicaciones</p>
            <img class="imgArrowButtons" src="./assets/iconos/flecha_abajo.png">
          </div>
          <!--Inactive Button Locations-->
          <div [routerLink]="['/main', {outlets: {aside: ['locations']}}]" class="btnContentMenu" *ngIf="showStyle5">
            <a class="heightBtn"><img class="sizeImageHeader" src="./assets/iconos/icon_ubicaciones.png"></a>
            <p class="descButonInactive">Ubicaciones</p>
            <img class="imgArrowButtons"  src="./assets/iconos/icon_check.png">
          </div>
          <!--Active Button Access-->
          <div [routerLink]="['/main', {outlets: {aside: ['access']}}]" class="btnContentMenu" *ngIf="showStyle6">
            <a class="heightBtn"><img class="sizeImageHeader" src="./assets/iconos/icon_accesos_hover.png"></a>
            <p class="descButonActive">Accesos</p>
            <img class="imgArrowButtons" src="./assets/iconos/flecha_abajo.png">
          </div>
          <!--Inactive Button Access-->
          <div [routerLink]="['/main', {outlets: {aside: ['access']}}]" class="btnContentMenu" *ngIf="showStyle7">
            <a class="heightBtn"><img class="sizeImageHeader" src="./assets/iconos/icon_accesos.png"></a>
            <p class="descButonInactive">Accesos</p>
            <img class="imgArrowButtons" src="./assets/iconos/icon_check.png">
          </div>
          <!--Active Button Rol-->
          <div [routerLink]="['/main', {outlets: {aside: ['roles']}}]" class="btnContentMenu" *ngIf="showStyle8">
            <a class="heightBtn"><img class="sizeImageHeader" src="./assets/iconos/icon_roles_hover.png"></a>
            <p class="descButonActive">Roles</p>
            <img class="imgArrowButtons" src="./assets/iconos/flecha_abajo.png">
          </div>
          <!--Inactive Button Rol-->
          <div [routerLink]="['/main', {outlets: {aside: ['roles']}}]" class="btnContentMenu" *ngIf="showStyle9">
            <a class="heightBtn"><img class="sizeImageHeader" src="./assets/iconos/icon_roles.png"></a>
            <p class="descButonInactive">Roles</p>
            <img class="imgArrowButtons" src="./assets/iconos/icon_check.png">
          </div>


        </div>
        <div class="col-sm-2 col-md-4 col-lg-4"></div>
      </div>
    </nav>
  <router-outlet name ="aside"></router-outlet>
  </div>

</div>

