<nav class="navbar navbar-default ">
  <div class="col-sm-6 col-sm-offset-3 navBarMain">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <img class= "img-responsive moveIconBar Brand" src="./assets/iconos/logo-maccess-02.png">

    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="toTop dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Juan Perez <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a [routerLink]="['/login']" class="btn">Log Out</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<!--To go anotrer view in the navBar menu-->
<div>
  <a [routerLink]="['/main', {outlets: {aside: ['control']}}]" class="btn"> to Control </a>
  <a [routerLink]="['/main', {outlets: {aside: ['users']}}]" class="btn">to Users</a>
  <a [routerLink]="['/main', {outlets: {aside: ['locations']}}]" class="btn">to Locations</a>
  <a [routerLink]="['/main', {outlets: {aside: ['access']}}]" class="btn">to Access</a>
  <a [routerLink]="['/main', {outlets: {aside: ['roles']}}]" class="btn">to Roles</a>
</div>
<router-outlet name ="aside"></router-outlet>