<div class="container-fluid contAllNewView">
  <div class="row">
    <div class="col-sm-4 col-md-4"></div>
    <div class="col-sm-4 col-md-4 contentMainViews">
      <div class="row">
        <div class="containerTitle">
          <p class="nameTable">Ubicaciones Registradas</p>
        </div>
         <div class="search">
            <input type="text" placeholder="" class ="myInput">
         </div>
      </div>
      <div class="row">
        <div class="containerTable">
          <table class="tableStyle">
            <tr class="cellFormat">
              <td>Zona Pradera</td>
              <td>Torre3</td> 
              <td>Oficina 512</td>
              <td>Oficinas IT</td>
              <td>Edit</td>
            </tr>
            <tr class="cellFormat">
              <td>Zona Pradera</td>
              <td>Torre3</td> 
              <td>Oficina 514</td>
              <td>Oficinas Mkt</td>
              <td>Edit</td>
            </tr>
            <tr class="cellFormat">
              <td>Europlaza</td>
              <td>Oficina 402</td> 
              <td>Central</td>
              <td></td>
              <td>Edit</td>
            </tr>
            <tr class="cellFormat">
              <td>Zona Pradera</td>
              <td>Torre3</td> 
              <td>Oficina 515</td>
              <td>Oficinas IT</td>
              <td>Edit</td>
            </tr>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="containerBtnAdd">
          <div class="IconPlus" [routerLink]="['/addUsers', {outlets: {editUserOutlet: ['photoUser']}}]">
            <img class="img-responsive imgPlus" alt="icon plus" src="./assets/iconos/floating_agregar.png">
          </div>
            <a class="txtAddUser" [routerLink]="['/addUsers', {outlets: {editUserOutlet: ['photoUser']}}]">Agregar Ubicacion</a>
        </div>
      </div>

    </div>
    <div class="col-sm-4 col-md-4"></div>
  </div>
</div>
