/*.centerTitles {
	text-align: center;
	margin-top: 4%;
}
.userRegister {
	font-family: robotoBold;
	color: #575757;
	font-size: 12px;
}
.desNewUser {
	font-family: robotoRegular;
	margin-top: -5px;
	color: #AFAFAF;
	font-size: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.contentRegister {
	padding-top: 25px;
}
.nameInput, .dpiInput {
	width: 37%;
	font-size: 11px;
	font-family: robotoRegular;
	opacity: 0.7;
	margin-left: 38%;
	margin-bottom: -10px;
	color: #C9C9C9;
}
.rolInput {
	width: 37%;
	height: 34px;
	font-size: 11px;
	font-family: robotoRegular;
	background-color: transparent;
	border-color: #DBDBDB;
    border-radius: 5%;
    margin-left: 38%;
    text-align: left;
    color: #C9C9C9;
}
.lineDivision {
	border-bottom: 1px solid #EBEBEB;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}
.lineNone {
	border-bottom: none;
}
.alignDrop {
	left: inherit;
	right: 25%;
	font-size: 10px;
	font-family: robotoRegular;
}
.iconDrop {
	float: right;
}
.contentInfoRegister {
	margin-left: 38%;
	margin-top: 3%;
}
.iconAdd {
	height: 12px;
}
.btnLogin {
  	margin-left: 38%;
    margin-top: 5%;
    display: flex;
	align-items: center;
	justify-content: center;
  	border-radius: 15px;
  	width: 23%;
  	height: 32px;
  	background-color: #00C6AF;
  	text-align: center;
  	text-decoration: none;
  	font-family: robotoBold;
  	font-size: 12px;
  	color: #FFF;
}
.titleAccess {
	font-family: robotoBold;
	color: #01CDFF;
	font-size: 11px;
}
.desAccessUser {
	font-family: robotoRegular;
	color: #AFAFAF;
	font-size: 9px;
}
.imgUserProfile {
	height: 75px;
    width: 75px;
    position: absolute;
    margin-top: -15%;
    margin-left: 23%;
    -webkit-border-radius: 150px; 
   -moz-border-radius: 150px; 
   -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .3); 
   -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .3);
}
*/

