<!-- main app container -->

    <div class="container-fluid navBarMain">
        <!--<div class="col-sm-8 col-sm-offset-2">-->
        <div class="col-md-12 navBarMain">
          <router-outlet></router-outlet>
        </div>
    </div>


<!-- credits -->
<div class="text-center">
    <p>
        <a href="http://jasonwatmore.com/post/2016/09/29/angular-2-user-registration-and-login-example-tutorial" target="_top">Angular 2 User Registration and Login Example & Tutorial</a>
    </p>
      <a [routerLink]="['/main']" class="btn">to Main</a>
      <a [routerLink]="['/login']" class="btn">to login</a>
    <p>
        <a href="http://jasonwatmore.com" target="_top">JasonWatmore.com</a>
    </p>
</div>