<div class="container">
  <div class="row">
  <div class="col-md-2"></div>
    <div class="col-xs-12 col-md-8 col-lg-8">
      <div class="centerTitles">
        <p class="userRegistered">ROL CREADO</p>
        <p class="desRegistered">El rol fue creado con exito.</p>
      </div>
      <div class="contentRegistered">
        <div class="boxContent">
          <div class="contentText">
            <p class="namePerson">Marketing Staff</p>
            <p class="infoPerson">Empleados del departamento de Mercadeo de accesos a Torre 3, de Zona Pradera.</p>
          </div>
        </div>
      </div>
      <a [routerLink]="['/main', {outlets: {aside: ['roles']}}]" class="btnLogin">Aceptar</a>
    </div>
  <div class="col-md-2"></div>
  </div>
</div>