<div class="container">
	<div class="row">
	<div class="col-md-2"></div>
		<div class="col-xs-12 col-md-8 col-lg-8">
			<div class="cenTitlesLoc">
				<p class="editLoc">UBICACIÓN CREADA</p>
				<p class="desEditLoc">La ubicación fue creada con éxito</p>
			</div>
			<div class="contentEditLoc">
				<div class="boxContentDataLoc">	
			        <div class="contentMap">
			        	<iframe class="mapSize"
						  frameborder="0" style="border:0" 
						  scrolling="auto" marginheight="0" marginwidth="0"
						  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyD8jLJ2iXJGYBbfzk24Mzv2I8EXUmEl
						  " src="https://maps.google.com/?ie=UTF8&amp;t=m&amp;daddr=14.581543, -90.495525&amp;spn=0.018486,0.027466&amp;z=15&amp;output=embed" allowfullscreen>
						</iframe>
			        </div>
			        <div class="contentLocaData">
			        	<h1 class="titleLocation">Oficinas IT</h1>
			        	<p class="txtData">Zona Pradera</p>
			        	<p class="txtData">Torre 4</p>
			        	<p class="txtData">Oficina 310</p>
			        </div>
				</div>
			</div>
			<a [routerLink]="['/main', {outlets: {aside: ['locations']}}]" class="btnAccept">Aceptar</a>
		</div>
	<div class="col-md-2"></div>
	</div>
</div>

