<div class="container">
	<div class="row">
	<div class="col-xs-2 col-md-2"></div>
		<div class="col-xs-8 col-md-8">
			<div class="centerTitle">
				<p>REGISTRAR NUEVO USUARIO</p>
			</div>
			<div class="imgContent">
				<img src="./assets/iconos/fotd-miamibeach.jpg">
				<img class="imgOpacity" src="./assets/iconos/opacity_circle.png">
			</div>
			<div>
				<p class="titlePhoto centerTitle">Fotografía</p>
				<p class="desPhoto">Pide al nuevo usuario que voltee a la cámara.</p>
				<p class="desPhoto">Cuando este listo, toma la fotogría.</p>
			</div>
		</div>
	<div class="col-xs-2 col-md-2"></div>
	</div>
</div>

