<div class="container">
    <div class="row">
        <div class="col-xs-2 col-md-2"></div>
        <div class="col-xs-8 col-md-8">
            <div class="headerCl">
                <div class="btnBackUser" *ngIf="BackUser" (click)="changeIndicatiors(true, false, false)" (click)="changeStepsRoles(true, false, false, false, shortcutAddUser)" >
                    <img src="./assets/iconos/icon_volver.png" class="imgBackUser">
                    <p class="txtBackUser"> Volver</p>
                </div>
                <a (click)="onKeyUp(5)">
                    <img src="./assets/iconos/icon_cerrar.png" class="iconHeaderUser">
                </a>
            </div>
            <div class="dotsSlider">
                <div class="contIndicators" *ngIf="dotsIndicators">
                    <div class="DotLeft" [ngClass]="{'circulo1': isActive, 'circulo2': isDisabled}"></div>
                    <div class="DotRigth" [ngClass]="{'circulo1': isActive1, 'circulo2': isDisabled1}"></div>
                </div>
            </div>
        </div>
        <div class="col-xs-2 col-md-2"></div>
    </div>
</div>
<!-- VISTA DE REGISTRO DE NUEVO ROL -->
<div *ngIf="informationRolView" class="container">
  <div class="row">
  <div class="col-md-2"></div>
    <div class="col-xs-12 col-md-8 col-lg-8">
      <div class="centerTitlesView">
        <p class="titleView">REGISTRAR NUEVO ROL</p>
        <p class="subTitleView">Completa la información del rol</p>
      </div>
      <div class="contentDataView">
        <div class="boxContentView">
          <form class="formViewInputs">
            <div class="row form-group">
              <input type="contentText" class="form-control inputName" id="name" placeholder="Nombre del rol ">
            </div>
            <div class="row form-group">
                <input type="contentText" class="form-control inputDesc" id="desc" placeholder="Descripción">
              </div>
          </form>
        </div>
      </div>
      <a (click)="changeStepsRoles(false, true, false, false)"  (click)="changeIndicatiors(false, true, false)" class="btnSigRol">Siguiente</a>
    </div>
  <div class="col-md-2"></div>
  </div>
</div>
<div *ngIf="registerNewRol" class="container">
  <div class="row">
  <div class="col-md-2"></div>
    <div class="col-xs-12 col-md-8 col-lg-8">
      <div class="centerTitlesView"> 
        <p class="titleView">REGISTRAR NUEVO ROL</p>
        <p class="subTitleView">Marca los accesos permitidos para este rol</p>
      </div>
        <div class="contentSubtitItle">
          <div class="boxContSub">
            <p>
            <span *ngFor="let indexLocation of indexLocationView; let i=index;" [ngClass]="(indexLocationView?.length - 1) == i ? 'editNavActive' : 'editNav'">{{indexLocation}}<img class="iconArrowNav marginText" src="./assets/iconos/arrow-icon.png" *ngIf="(indexLocationView?.length - 1) > i"></span>
            </p>
          </div>
        </div>
        <div class="contentEditLoc">
          <div class="boxContentDataLoc"> 
            <div class="contentTable">
              <div [ngClass]="appearAllContent ? 'contentRowShow' : 'contentRow'">
                <div *ngFor="let location of locationJson.ParentLocation; let i=index" [ngClass]="LocationActiveId == i ? 'activeCellRow' : 'desactiveCellRow'" (click) = "selectParentLocation(i,location.id)">
                  <h1 [ngClass]="LocationActiveId == i ? 'textActive' : 'textDesactive'">{{location.Name}}</h1>
                  <img *ngIf="LocationActiveId != i" class="desactiveIconArrow" src="./assets/iconos/arrow-icon.png">
                  <img *ngIf="LocationActiveId == i" class="activeIconArrow" src="./assets/iconos/arrow-icon-left.png">
                </div>
              </div>
 
            </div>
            <div class="contentTable" *ngIf="viewLocationLevelTwo">
              <div [ngClass]="appearAllContent2 ? 'contentRowShow' : 'contentRow'">  
                <div *ngFor="let locationLevelTwo of locationJson.LocationLevelTwo; let i=index">
                  <div *ngIf="locationLevelTwo.id == dataLocation" [ngClass]="LocationLevelTwoActiveId == i ? 'activeCellRow' : 'desactiveCellRow'" (click) = "selectLocationLevelTwo(i,locationLevelTwo.id,locationLevelTwo.idLevelTwo)">
                    <h1 [ngClass]="LocationLevelTwoActiveId == i ? 'textActive' : 'textDesactive'" *ngIf="locationLevelTwo.id == dataLocation">{{locationLevelTwo.Name}}</h1>
                    <img *ngIf="LocationLevelTwoActiveId != i" class="desactiveIconArrow" src="./assets/iconos/arrow-icon.png">
                    <img *ngIf="LocationLevelTwoActiveId == i" class="activeIconArrow" src="./assets/iconos/arrow-icon-left.png">
                  </div>
                </div>
              </div>
            </div>
            <div class="contentTable" *ngIf="viewLocationLevelThree">
              <div [ngClass]="appearAllContent3 ? 'contentRowShow' : 'contentRow'">    
                <div *ngFor="let locationLevelThree of locationJson.LocationLevelThree; let i=index;">
                  <div *ngIf="locationLevelThree.idLevelTwo == dataLocationLevelTwo" [ngClass]="LocationLevelThreeActiveId == i ? 'activeCellRow' : 'desactiveCellRow'" (click) = "selectLocationLevelThree(i,locationLevelThree.idLevelThree)">
                    <h1 [ngClass]="LocationLevelThreeActiveId == i ? 'textActive' : 'textDesactive'">{{locationLevelThree.Name}}</h1>
                    <img *ngIf="LocationLevelThreeActiveId != i" class="desactiveIconArrow" src="./assets/iconos/arrow-icon.png">
                    <img *ngIf="LocationLevelThreeActiveId == i" class="activeIconArrow" src="./assets/iconos/arrow-icon-left.png">
                  </div>
                </div>
              </div>

            </div>
            <div class="contentTable" *ngIf="viewLocationLevelFour">
              <div [ngClass]="appearAllContent4 ? 'contentRowShow' : 'contentRow'">    
                <div *ngFor="let locationLevelFour of locationJson.LocationLevelFour; let i=index;">
                  <div class="desactiveCellRow" *ngIf="locationLevelFour.idLevelThree == dataLocationLevelThree">
                    <label class="txtBoxTable">
                        <input class="styleCheck" type="checkbox" value="{{locationLevelFour.idLevelFour}}" />
                        <span class="label-text">{{locationLevelFour.Name}}</span>
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>  
        </div>
      <a (click)="changeStepsRoles(false, false, true, false)" (click)="changeIndicatiors(false, false, true)" class="btnCreatedRols">Crear rol</a>
    </div>
  <div class="col-md-2"></div>
  </div>
</div>
<div *ngIf="createdRol" class="container">
  <div class="row">
  <div class="col-md-2"></div>
    <div class="col-xs-12 col-md-8 col-lg-8">
      <div class="centerTitlesView">
        <p class="titleView">ROL CREADO</p>
        <p class="subTitleView">El rol fue creado con exito.</p>
      </div>
      <div class="contentRegistered">
        <div class="boxContent">
          <div class="contentText">
            <p class="namePerson">Marketing Staff</p>
            <p class="infoPerson">Empleados del departamento de Mercadeo de accesos a Torre 3, de Zona Pradera.</p>
          </div>
        </div>
      </div>
      <a (click)="closeEditRol(5)" class="btnCreatedRols">Aceptar</a>
    </div>
  <div class="col-md-2"></div>
  </div>
</div>