.headerCl{
  width: 100%;
  float: left;
}

.iconHeaderUser {
  height: 18px;
  width: 18px;
  float: right;
  margin-top: 5%;
  display: inline-block;
  cursor: pointer;
}

.centerBoxData {
  text-align: center;
  margin-top: 4%;
}

.iconPass {
  margin-top: 2%;
  padding-bottom: 40px;
}

.titleNewPassViews {
  font-family: robotoBold;
  color: #575757;
  font-size: 12px;
}

.descNewPassViews {
  font-family: robotoRegular;
  margin-top: -5px;
  color: #AFAFAF;
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.newPassContentData {
  display: flex;
  align-items: center;
  justify-content: center;
}

.boxPassContent {
  height: 80px;
  width: 55%;
  margin-top: 4%;
}

.posPassInputs {
  width: 100%;
}

.rowCheckbox {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-group {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0 15px;
}

.inputEmailNewPass, .inputRegistID, .inputRegistDesc {
  display: flex;
  align-items: center;
  margin-bottom: 2%;
  width: 80%;
}

.lblAccess {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: robotoRegular;
  color: #9F9F9F;
  font-size: 11px;
}

.btnNextAction{
  margin-right: auto;
  margin-left: auto;
  width: 22%;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.marginTopBtnStepOne{
  margin-top: -1%;
}

.marginTopBtnStepTwo{
  margin-top: 5%;
}

.marginTopBtnStepThree{
  margin-top: 8%;
}