  <!--VISTA HEADER FORGOT PASSWORD -->
<div class="container">
    <div class="row">
        <div class="col-xs-2 col-md-2"></div>
        <div class="col-xs-8 col-md-8">
            <div class="headerCl">
                <a (click)="closeForgotPass()">
                    <img src="./assets/iconos/icon_cerrar.png" class="iconHeaderUser">
                </a>
            </div>
        </div>
        <div class="col-xs-2 col-md-2"></div>
    </div>
</div>
<!--VISTA FORGOT PASSWORD enter email -->
<div *ngIf="stepOne"  class="container">
  <div class="row">
  <div class="col-md-2"></div>
  <div class="col-xs-12 col-md-8 col-lg-8">
    <div class="centerBoxData">
      <img class="iconPass" src="../assets/iconos/icon_password.png">
      <p class="titleNewPassViews">¿CONTRASEÑA OLVIDADA?</p>
      <p class="descNewPassViews">Ingresa tu correo electronico para recuperarla.</p>
    </div>
    <div class="newPassContentData">
      <div class="boxPassContent">
        <form class="posPassInputs">
          <div class="row rowCheckbox form-group">
            <input type="email" class="form-control inputEmailNewPass" id="inputEmailNewPass" placeholder="Correo electronico">
          </div>
        </form>
      </div>
    </div>
      <a class="btnNextAction btnMainAction marginTopBtnStepOne" (click)="changeStepForgotPass(false, true, false)">Enviar</a>
    </div>
  <div class="col-md-2"></div>
  </div>
</div>
<!--VISTA FORGOT PASSWORD  update password-->
<div *ngIf="stepTwo"  class="container">
  <div class="row">
  <div class="col-md-2"></div>
  <div class="col-xs-12 col-md-8 col-lg-8">
    <div class="centerBoxData">
      <img class="iconPass" src="../assets/iconos/icon_password.png">
      <p class="titleNewPassViews">¿CONTRASEÑA OLVIDADA?</p>
      <p class="descNewPassViews">Ingresa tu nueva contraseña.</p>
    </div>
    <div class="newPassContentData">
      <div class="boxPassContent">
        <form class="posPassInputs">
          <div class="row rowCheckbox form-group">
            <input type="password" class="form-control inputEmailNewPass" id="inputEmailNewPass" placeholder="Nueva contraseña">
          </div>
          <div class="row rowCheckbox form-group">
            <input type="password" class="form-control inputEmailNewPass" id="inputEmailNewPass" placeholder="Confirmar nueva contraseña">
          </div>
        </form>
      </div>
    </div>
      <a class="btnNextAction btnMainAction marginTopBtnStepTwo" (click)="changeStepForgotPass(false, false, true)">Actualizar</a>
    </div>
  <div class="col-md-2"></div>
  </div>
</div>
<!--VISTA FORGOT PASSWORD Already update pasword -->
<div *ngIf="stepThree"  class="container">
  <div class="row">
  <div class="col-md-2"></div>
  <div class="col-xs-12 col-md-8 col-lg-8">
    <div class="centerBoxData">
      <img class="iconPass" src="../assets/iconos/icon_password.png">
      <p class="titleNewPassViews">ACTUALIZA TU CONTRASEÑA</p>
      <p class="descNewPassViews">Tu contraseña fue actualizada exitosamente.</p>
    </div>
      <a class="btnNextAction btnMainAction marginTopBtnStepThree" (click)="closeForgotPass()" >Aceptar</a>
    </div>
  <div class="col-md-2"></div>
  </div>
</div>
