/* You can add global styles to this file, and also import other style files */

/* Routes of the typography of the project */
@font-face {
  font-family: robotoRegular;
  src:url(./app/RobotoFont/Roboto-Regular.ttf);
}

@font-face {
  font-family: robotoBoldItalic;
  src:url(./app/RobotoFont/Roboto-BoldItalic.ttf);
}

@font-face {
  font-family: robotoBold;
  src:url(./app/RobotoFont/Roboto-Bold.ttf);
}

.imgDelete{
  display: block;
  height: 20px;
  width: 20px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin-left: auto;
  margin-right: auto;
}

.cirleImgDel{
  align-items: center;
  height: 50px;
  width: 50px;
  border-radius: 100%;
  border: solid 2px;
  border-color: #f64f2b;
  margin-left: auto;
  margin-right: auto;
}

.textGrayBold {
  font-family: robotoBold;
  color: #575757;
  font-size: 12px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  margin-top: 5%;
}

.textGrayReg {
  font-family: robotoRegular;
  margin-top: -5px;
  color: #AFAFAF;
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.containerButtons{
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
}

.btnDelete{
  display: block!important;
  align-items: center!important;
  justify-content: center!important;
  border-radius: 15px !important;
  width: 30% !important;
  height: 30px !important;
  background-color: #f64f2b !important;
  text-align: center !important;
  text-decoration: none !important;
  font-family: robotoBold !important;
  font-size: 12px !important;
  color: #FFF !important;
  float: left !important;
  margin-left: 15% !important;
  padding-top: 2% !important;
  cursor: pointer !important;
}

.btnCancel {
  display: block !important;
  align-items: center !important;
  justify-content: center !important;
  border-radius: 15px !important;
  width: 30% !important;
  height: 30px !important;
  background-color:#ededed !important;
  text-align: center !important;
  text-decoration: none !important;
  font-family: robotoBold !important;
  font-size: 12px !important;
  color: #575757 !important;
  float: right !important;
  margin-right: 15% !important;
  padding-top: 2% !important;
  cursor: pointer !important;
}

.swal2-container.swal2-shown {
  background-color: #fff !important;
}

.fade {
  opacity: 1!important;
  background-color: #ffffff!important;
}

.swal2-container {
  z-index: 1600;
}

.dark-modal .modal-content {
  background-color: #292b2c;
  color: white;
}

.dark-modal .close {
  color: white;
}

.modal-dialog {
  width: 100%!important;
  height: 100%!important;
}

.modal-content {
  position: relative;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box; 
  border: 0px !important;
  border-radius: 0px !important; 
  outline: 0; 
  -webkit-box-shadow: 0px 0px 0px -200px rgba(0,0,0,0);
  -moz-box-shadow: 0px 0px 0px -200px rgba(0,0,0,0);
  box-shadow: 0px 0px 0px -200px rgba(0,0,0,0);
  height: 100%!important
}

.modal-dialog{
  margin: 0px;
}

@media (min-width: 768px){
  .modal-content {
    -webkit-box-shadow: 0px 0px 0px -200px rgba(0,0,0,0);
    -moz-box-shadow: 0px 0px 0px -200px rgba(0,0,0,0);
    box-shadow: 0px 0px 0px -200px rgba(0,0,0,0);
  }
}

.btnDelete,.btnCancel:focus{
    outline: none !important;
}

textarea:focus, input:focus, input[type]:focus, .uneditable-input:focus {   
    border-color: #00C6AF;
    box-shadow: 0 0px 1px #00C6AF inset, 0 0 1px #00C6AF;
    outline: 0 none;
}

/*----------------------------------------------------------------------------*/
/*Global style for green buttons*/
.btnMainAction{
  border-radius: 15px;
  background-color: #00C6AF;
  text-decoration: none;
  font-family: robotoBold;
  font-size: 13px;
  color: #FFF;
  cursor: pointer;
  transition :all ease 0.3s;
}

/*Global style for focus status green buttons*/
.btnMainAction:hover{
  background-color: #00A096;
  color: #FFF;
  text-decoration: none;
}
/*----------------------------------------------------------------------------*/