<div class="container">
    <div class="row">
        <div class="col-xs-2 col-md-2"></div>
        <div class="col-xs-8 col-md-8">
            <div class="headerCl">
              <div class="btnBackUser" *ngIf="BackUser" (click)="changeIndicatiors(true, false, false)" (click)="changeStepsEditeRoles(true, false, false, false, shortcutAddUser)" >
                  <img src="./assets/iconos/icon_volver.png" class="imgBackUser">
                  <p class="txtBackUser"> Volver</p>
              </div>
              <a (click)="closeEditRol()">
                  <img src="./assets/iconos/icon_cerrar.png" class="iconHeaderUser">
              </a>
            </div>
            <div class="dotsSlider">
                <div class="contIndicators" *ngIf="dotsIndicators">
                    <div class="DotLeft" [ngClass]="{'circulo1': isActive, 'circulo2': isDisabled}"></div>
                    <div class="DotRigth" [ngClass]="{'circulo1': isActive1, 'circulo2': isDisabled1}"></div>
                </div>
            </div>
        </div>
        <div class="col-xs-2 col-md-2"></div>
    </div>
</div>
<!-- VISTA DE REGISTRO DE NUEVO ROL -->
  <div id="overlay">
  <div id="text">
    <div class="cirleImgDel">
      <img class="imgDelete" src="../assets/iconos/icon_eliminar.png">
    </div>
    <p class="textGrayBold">¿Eliminar Rol Definitivamente?</p>
    <p class="textGrayReg">El rol se eliminará permanentemente.</p>
    <div class="containerButtons">
      <a (click)="off()" class="btnDelete">Eliminar</a>
      <a (click)="off()" class="btnCancel">Cancelar</a>
    </div>
  </div>
</div>
<div *ngIf="roleEdit" class="container">
  <div class="row">
  <div class="col-md-2"></div>
    <div class="col-xs-12 col-md-8 col-lg-8">
      <div class="centerTitlesRoles">
        <p class="rolEdit">EDITAR ROL</p>
        <p class="rolDesEdit">Realizar modifícaciones en la información</p>
      </div>
      <div class="contentDataRol">
        <div class="boxContentRol">
          <form class="posInputsUbication">
            <div class="row form-group">
              <p class="lblInputRol">Nombre</p>
              <input type="contentText" class="form-control inputName" id="name" placeholder="Nombre">
            </div>
            <div class="row form-group">
              <p class="lblInputRol">Descripción</p>
                <input type="contentText" class="form-control inputDesc" id="desc" placeholder="Descripción">
              </div>
          </form>
        </div>
      </div>
      <a (click)="changeStepsEditeRoles(false, true, false, false)" (click)="changeIndicatiors(false, true, false)"  class="btnNewRole">Siguiente</a>
      <a (click)="deleteWarningEdit()"><img class="delIcon" src="../assets/iconos/icon_eliminar.png"></a>
    </div>
  <div class="col-md-2"></div>
  </div>
</div>
<!-- VISTA TABLA ACCESOS PERMITIDOS -->
<div *ngIf="accessAllowed" class="container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-xs-12 col-md-8 col-lg-8">
      <div class="centerTitlesRoles">
        <p class="rolEdit">EDITAR ROL</p>
        <p class="rolDesEdit">Editar los accesos permitidos para este rol.</p>
      </div>
      <div class="contInside">
        <div class=" containerButtons">
        <a (click)="selectAllCheck()" class="btnCheckAll">
        Check all</a>
        <a (click)="deselectAllCheck()" class="btnUnCheckAll">Uncheck all</a>
        </div>
      </div>
      <div class="contentDataRol">
        <div class="boxContentRol">
          <div class="containerTable"> 
            <table class="tableStyle">
              <tr *ngFor="let i of deviceFiltered" class="cellFormat">
                <td>
                  <input class="styleCheck" type="checkbox" [(ngModel)]="i.checked" name="ZPradera1" id="checkbox1" value="ZPradera1">{{i.name}}
                </td>
                <td>{{i.name}}</td> 
                <td>{{i.office}}</td> 
                <td>{{i.accessPlaces}}</td> 
              </tr>
            </table>
          </div>
        </div>
      </div>
      <a (click)="closeEditRol(5)" class="btnNextRol">&#10004; Realizar Cambios</a>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>